:root {
  --purple: rgb(66, 40, 93);
  --blue: rgb(31, 60, 94);
  --green: rgb(25, 80, 75);
  --pink: rgb(90, 35, 68);
  --red: rgb(91, 43, 42);
  --teal: rgb(47, 85, 94);
  --white: rgb(240, 246, 250);
  --outline: rgb(95, 99, 104);
  --main-font: "Libre Baskerville", serif;
  --headings-fancy: "Dancing Script", cursive;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(32, 32, 36);
}

.container {
  max-width: 100%;
}

.welcome-header {
  height: 7vh;
  text-align: center;
  color: lightgray;
  font-weight: bold;
  font-size: 2.8vw;
  width: 100%;
  border-bottom: 1px solid var(--outline);
  margin: 1rem;
}

.widgets {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.card {
  color: lightgray;
}

.card-body {
  width: 100%;
}

.widgets-row {
  width: 79vw;
  position: absolute;
  left: 17%;
  top: 13%;
}

.col {
  padding: 0px;
}

#small-card {
  height: 17vw;
  width: 17vw;
  margin-right: 1vw;
}

#medium-card {
  height: 21vw;
  width: 28vw;
  margin-bottom: 3vw;
}

#large-card {
  height: 23vw;
  width: 38.5vw;
}
