#root {
  height: 100vh;
  width: 100vw;
  background-color: rgb(20, 30, 40);
}

.main {
  display: flex;
  flex-direction: column;
}

.welcome-header {
  grid-area: header;
  height: 6vh;
  text-align: center;
  color: floralwhite;
  font-weight: bold;
  font-size: 42px;
  padding-top: 16px;
  padding-bottom: 3px;
  border-bottom: 1px solid floralwhite;
}

.widgets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 3fr auto;
  grid-column-gap: 8px;
  align-self: center;
  width: 100%;
}

.card {
  width: 15vw;
  height: 15vw;
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: floralwhite;
  box-shadow: 2px 2px rgb(70, 70, 70);
}

.large {
  width: 30vw;
  height: 30vw;
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: floralwhite;
  box-shadow: 2px 2px rgb(70, 70, 70);
}
