:root {
  --purple: rgb(130, 60, 120);
  --white: rgb(240, 246, 250);
  --main-font: "Libre Baskerville", serif;
  --headings-fancy: "Dancing Script", cursive;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 30, 40);
}

.container {
  max-width: 100%;
}

.welcome-header {
  height: 7vh;
  text-align: center;
  color: floralwhite;
  font-weight: bold;
  font-size: 2.8vw;
  width: 100%;
  border-bottom: 1px solid floralwhite;
  margin: 1rem;
}

.widgets {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.card {
  color: floralwhite;
  box-shadow: 2px 2px rgb(70, 70, 70);
}

.card-body {
  width: 100%;
}

.widgets-row {
  width: 79vw;
  position: absolute;
  left: 17%;
  top: 13%;
}

.col {
  padding: 0px;
}

#small-card {
  height: 17vw;
  width: 17vw;
  margin-right: 1vw;
}

#medium-card {
  height: 21vw;
  width: 28vw;
  margin-bottom: 3vw;
}

#large-card {
  height: 23vw;
  width: 38.5vw;
}
