.clock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(25, 123, 25);
  text-align: center;
}

.time {
    margin-top: 2vw;
    font-size: 2.1vw;
}

.date {
    font-size: 1vw;
    margin-bottom: 1vw;
}
