.fun-fact {
  background-color: var(--pink);
  overflow-y: auto;
}


.fact-title {
  text-align: center;
  padding-bottom: 6px;
  border-bottom: 1px solid lightgray;
}

.fact-body {
  text-align: center;
  margin-top: 1vw;
}
