.fun-fact {
  background-color: rgb(200, 8, 20);
}

.fact-title {
  text-align: center;
  padding-bottom: 6px;
  border-bottom: 1px solid floralwhite;
}

.fact-body {
  text-align: center;
  margin-top: 1vw;
}
