.news {
    background-color: rgb(20, 120, 220);
}

.tasks {
background-color: rgb(130, 60, 120) 
}

.weather {
  background-color: rgb(17, 130, 115)
}

.fun-fact {
  background-color: rgb(200, 8, 20)
  
}

/* background-color: rgb(220, 60, 25)  */
/* background-color: rgb(75, 65, 150)  */
/* background-color: rgb(33, 33, 33)  */
/* background-color: rgb(70, 70, 70)  */

/* 