@media (min-width: 600px) {
  .task-form {
    display: none;
  }
}

.tasks {
  background-color: var(--purple);
}

.tabs {
  height: 30vw;
  width: 30vw;
}

.tasks > h1 {
  text-align: center;
  margin: 10px;
}

.tab-header {
  display: flex;
  justify-content: space-evenly;
}

.tab-header > li {
  border-top: 2px solid var(--white);
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
  border-bottom: 2px solid var(--white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 20%;
  text-align: center;
  line-height: 23px;
  cursor: pointer;
}

.tab-header > li:hover {
  background-color: var(--white);
  color: var(--purple);
}

.tab-header > li:first-child {
  border-left: 2px solid var(--white);
}

.tab-header > li:last-child {
  border-right: 2px solid var(--white);
}

#active {
  border-bottom: hidden;
  font-weight: bold;
}

.content-container {
  height: 93%;
  border-left: 2px solid var(--white);
}

.tab-content {
  padding: 20px 20px 0px 20px;
  height: 90%;

}

.task-list {
  height: 75%;
  overflow-y: auto;
}

.task-form {
  display: flex;
  flex-direction: column;
}

#input {
  font-size: 3vh;
  height: 3.5vh;
  width: 20vw;
  align-self: center;
  border-radius: 3px;
  padding: 2px;
  border: var(--purple);
}

#button {
  all: unset;
  border: 2px solid var(--white);
  color: var(--white);
  cursor: pointer;
  height: 3vh;
  align-self: center;
  overflow: hidden;
  text-align: center;
  width: 10vw;
  margin-top: 10px;
  margin-bottom: 4px;
}

#button:hover {
  all: none;
  border-color: var(--purple);
  background-color: var(--white);
  opacity: 0.7;
  color: var(--purple);
}

.task-item {
  display: flex;
  justify-content: space-between;
  font-size: 3vh;
}

.task {
  display: flex;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

.task > p {
  width: 88%;
}

.task-check {
  font-size: 3vh;
  padding: 1px 10px 0px 0px;
}

#completed-true {
  text-decoration: line-through;
}

#trash {
  color: grey;
  opacity: 0.7;
}

#trash:hover {
  color: var(--white);
  opacity: 1;
  cursor: pointer;
}
